
<ul class="nav nav-pills nav-stacked side-toolbar ">
		<li><a href='products/new'>
			<button type="button" class="btn btn-inverse btn-small">
				<b>P</b><span class="glyphicon glyphicon-plus"></span>
		</button></a>
	</li>
	<li><a href='auctions/new'>
			<button type="button" class="btn btn-inverse btn-small">
				<b>A</b><span class="glyphicon glyphicon-plus"></span>
		</button></a>
	</li>
	<li><a href='#'>
		<button type="button" class="btn btn-inverse btn-lg">
			<b><span class="glyphicon glyphicon-tasks"></span></b>
		</button></a>
	</li>
	<li><a href= 'clients'>
		<button type="button" class="btn btn-inverse btn-lg">
			<b><span class="glyphicon glyphicon-user"></span></b>
		</button></a>
	</li>
</ul>