<li>
	<div class="panel panel-default">
	  <div class="panel-heading"><%= link_to "#{comment.user.name}: ", comment.user %></div>
	  <div class="panel-body">
	    <%= comment.content %>
	  </div>
	</div> 
</li>