<li>
	<div class="panel panel-default">
	  <div class="panel-heading"><%= link_to "#{comment.user.name}: ", comment.user %> <small class="right"> <%= "#{comment.created_at.getlocal.to_formatted_s(:short)}" %> </small></div>
	  <div class="panel-body">
	    <%= comment.content %>
	  </div>
	</div> 
</li>