<% provide(:title,'Clients list') %>

<h3 class="center"> Clients list </h3>

<div class="clients-list">
	<ul><%= render partial: 'clients/client', collection: @clients %></ul>
	<%= will_paginate %>
</div>