<div class="container">
<div class="row">
	<div class="span5 general_listing">
		<h3>Client info</h3>
		<div class="row">
			<div class="span1"><div class="right">Name:</div></div>
			<div class="span3"><div class="left"><%= "#{@client.f_name} #{@client.l_name}"%></div></div>
		</div>
		<div class="row">
			<div class="span1"><div class="right">Address:</div></div>
			<div class="span3"><div class="left"><%= @client.address %></div></div>
		</div>
	</div>
	<div class="span7">
		<h3>Transactions</h3> 
		<ul class="general_listing">
			<%= render partial: 'transactions/transaction', collection: @transactions %>
		</ul>
	</div>
</div>
</div>