
.input-group {
	float: right;
	padding: 5px;
	input {
		height: 30px;
	}
	select {
		width: 80px;
	}
	#auction_date_year {
		width: 70px;
	}
	#auction_date_month {
		width: 92px;
	}
	#auction_date_day {
		width: 53px;
	}
}

.btn-small{
	margin-top: 3px !important;
	height: 25px;
}
.comment {
	padding: 2px;
	width: 180px;
	textarea {
		width: 350px !important;
	}
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 10px;
}
.panel-heading {
	background-color: #eee;
	padding: 5px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.status1 {
	background-image: none;
	background-color: #eee;
}
.status2 {
	background-image: none;
	background-color: #E29C73;
}
.status3 {
	/*background-image: none;*/
	background-color: #96F25C;
}
.status_selected {
	background-image: linear-gradient(to top, rgba(0,0,0,0.18), rgba(255,0,0,0));
}
.table-bordered td {
	border: 1px dotted #ccc !important;
}
tr.with_hoover:hover{
	outline-style: solid;
	outline-width: 1px;
	outline-color: #aaa;
	font-style: italic;
}

.icon_small{
	width: 25px;
	height: auto;
	font-size: 2em;
}
td {
  text-align: center !important;
  vertical-align: middle !important;
}
.input-narrow {
	input {
		width: 30px !important;
	}
}
.fade {
   opacity: 0;
   -webkit-transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
       -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
           transition: opacity 0.001s linear;
 }
#check_action {
	width: 16px !important;
	height: 16px !important;
	margin-bottom: 3px;
}
span .tools-group{
	width: 690px !important;
	height: 25px !important;
	margin: 0px;
	padding-right: 30px;
	padding-left: 30px;
}
