<button type="button" class="btn btn-default">
	<%= link_to "#{product.title}", edit_product_path(product)%>
	<div class="product-thumbnail">
		<%= image_tag image_link_for(product), width:"100", height:"auto" %>
	</div>
</button>
