<footer class="footer">
	<small>
		<a href="http://rails.org/"> rails </a> test
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",'#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>
<br>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'%>