<header class="">
  <div class="row">
    <%= link_to "L&M Trade GROUP", root_path, id: "logo-home" %>
    <div class="pull-right">
      <% if signed_in? %>
          <%- link_to "Archiwum", prod_returns_archive_path %></li>
        <%else%>
          <%- link_to "Sign in", signin_path %></li>
        <% end %>
    </div>
  </div>
</header>